<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <style>
    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
    }

    iframe {
      width: 100%;
      height: 100vh;
      border: none;
    
    }
  </style>
</head>
<body>
      <%- include('partials/navbar') %>
  <iframe src="<%= embedUrl %>" allowfullscreen></iframe>
  <%- include('partials/footer') %>
</body>
</html>
